/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}

.mdl-layout__header {
  display: flex;
  position: fixed;
  background-color: #222;
}

.mdl-layout__content {
  margin-top: 68px;
}

.md-title-icon > i {
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1em 2em;
}

.mdl-layout__header-row {
    height: 56px;
    padding: 0 16px 0 72px;
    padding-left: 8px;
    background-color: #222;
}

.page-content {
  margin: 2em;
}

button {
  width: 200px;height: 70px;
  color: #111;
}

@media (max-width: 1024px) {
  button {
    width: 180px;
    line-height: 18px;
    font-size: 12px;
  }
}

@media (max-width: 839px) {
  button {
    width: 120px;
    line-height: 18px;
    font-size: 12px;
  }
}


/*
Copyright 2016 JohnPapa.net, LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://bit.ly/l1cense
*/

.card {
  background: #ff4081;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  padding: 10px;
  color: black;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}